<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Vibrant</string>
		<key>children</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<string>04593c</string>
					<string>edb105</string>
					<string>ef8e19</string>
					<string>f13726</string>
					<string>f4f4f4</string>
				</array>
				<key>name</key>
				<string>For Brazil</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>ffba0d</string>
					<string>fc009a</string>
					<string>008cff</string>
					<string>6ee80c</string>
					<string>ff7d0d</string>
				</array>
				<key>name</key>
				<string>Playful</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>ff590d</string>
					<string>ff9900</string>
					<string>f2db00</string>
					<string>99cc00</string>
					<string>07938b</string>
				</array>
				<key>name</key>
				<string>Logis 4</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>072c69</string>
					<string>da023a</string>
					<string>f87901</string>
					<string>f4c902</string>
					<string>3f93c0</string>
				</array>
				<key>name</key>
				<string>Candy Extract</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>492d61</string>
					<string>048091</string>
					<string>61c155</string>
					<string>f2d43f</string>
					<string>d1026c</string>
				</array>
				<key>name</key>
				<string>Rainbow</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>bf190a</string>
					<string>f22816</string>
					<string>f27507</string>
					<string>f2a007</string>
					<string>39bf73</string>
				</array>
				<key>name</key>
				<string>Theme 800</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>cf4404</string>
					<string>f5b824</string>
					<string>fce138</string>
					<string>39a6b2</string>
					<string>024e76</string>
				</array>
				<key>name</key>
				<string>June Bug</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Candy Coated</string>
				<key>colors</key>
				<array>
					<string>f41c54</string>
					<string>ff9f00</string>
					<string>fbd506</string>
					<string>a8bf12</string>
					<string>00aab5</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<string>eb3b36</string>
					<string>3d505b</string>
					<string>04736b</string>
					<string>21a589</string>
					<string>b0f3c6</string>
				</array>
				<key>name</key>
				<string>Cardinal Morning</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>ea5930</string>
					<string>f8af1e</string>
					<string>f5e5c0</string>
					<string>187780</string>
					<string>202930</string>
				</array>
				<key>name</key>
				<string>Ingenious Design</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>f54551</string>
					<string>a9c388</string>
					<string>eec05e</string>
					<string>015a61</string>
					<string>2a383b</string>
				</array>
				<key>name</key>
				<string>Flat Animals</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>112f41</string>
					<string>068587</string>
					<string>4fb99f</string>
					<string>f2b134</string>
					<string>ed553b</string>
				</array>
				<key>name</key>
				<string>Alternative Bananas</string>
			</dict>
		</array>
		<key>name</key>
		<string>Relaxing</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<string>48668c</string>
					<string>01343f</string>
					<string>f2dcc4</string>
					<string>f2801f</string>
					<string>bf4024</string>
				</array>
				<key>name</key>
				<string>Sunrise</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>3f635e</string>
					<string>9fccbf</string>
					<string>e5e6e2</string>
					<string>b0b0ae</string>
					<string>7c7159</string>
				</array>
				<key>name</key>
				<string>Beach Sea Foam</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>03606b</string>
					<string>6aa8a5</string>
					<string>fef2d8</string>
					<string>f28d7a</string>
					<string>db5a55</string>
				</array>
				<key>name</key>
				<string>Wildflower</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>d9bd7b</string>
					<string>b69977</string>
					<string>8d7066</string>
					<string>79556c</string>
					<string>4e395c</string>
				</array>
				<key>name</key>
				<string>PBJ</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>3e1934</string>
					<string>8da8a1</string>
					<string>d8c6a7</string>
					<string>d58a74</string>
					<string>bb635d</string>
				</array>
				<key>name</key>
				<string>Beach Vintage</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>00303e</string>
					<string>7096ad</string>
					<string>c1d1de</string>
					<string>fff9ef</string>
					<string>ec4911</string>
				</array>
				<key>name</key>
				<string>Blue Mountain</string>
			</dict>
		</array>
		<key>name</key>
		<string>Nature Inspired</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Monochrome</string>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>colors</key>
						<array>
							<string>0a1c28</string>
							<string>43848e</string>
							<string>73a6a1</string>
							<string>97bfb7</string>
							<string>f1ebd1</string>
						</array>
						<key>name</key>
						<string>Inspiration</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>4fc2cd</string>
							<string>4e98a9</string>
							<string>4c6e84</string>
							<string>4b445f</string>
							<string>491a3a</string>
						</array>
						<key>name</key>
						<string>Popsicles</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>207791</string>
							<string>115a70</string>
							<string>0c4863</string>
							<string>083a52</string>
							<string>022b3b</string>
						</array>
						<key>name</key>
						<string>Ocean</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>0485a6</string>
							<string>3ea1bb</string>
							<string>87c5d5</string>
							<string>a6d4e0</string>
							<string>eff7f9</string>
						</array>
						<key>name</key>
						<string>ARM</string>
					</dict>
				</array>
				<key>name</key>
				<string>Blues</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>colors</key>
						<array>
							<string>ff3a00</string>
							<string>ff5600</string>
							<string>ff7900</string>
							<string>ff9f00</string>
							<string>ffb700</string>
						</array>
						<key>name</key>
						<string>Bright Orange</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>212224</string>
							<string>e35115</string>
							<string>f37f04</string>
							<string>f4ae47</string>
							<string>ffe7bb</string>
						</array>
						<key>name</key>
						<string>Performance Pack</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>f1b65a</string>
							<string>f29218</string>
							<string>d05603</string>
							<string>a43102</string>
							<string>460a02</string>
						</array>
						<key>name</key>
						<string>Pumpkin</string>
					</dict>
				</array>
				<key>name</key>
				<string>Oranges</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>colors</key>
						<array>
							<string>5f0167</string>
							<string>5d2487</string>
							<string>5a47a6</string>
							<string>586ac5</string>
							<string>558ce4</string>
						</array>
						<key>name</key>
						<string>Intelligent</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>a473d1</string>
							<string>8952ab</string>
							<string>613285</string>
							<string>421c5e</string>
							<string>2e0c4d</string>
						</array>
						<key>name</key>
						<string>Purple Addison</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>f1eebc</string>
							<string>f1928f</string>
							<string>a43668</string>
							<string>590230</string>
							<string>290009</string>
						</array>
						<key>name</key>
						<string>Dreamland</string>
					</dict>
				</array>
				<key>name</key>
				<string>Purples</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>colors</key>
						<array>
							<string>006b54</string>
							<string>60a859</string>
							<string>9bda6a</string>
							<string>c7f774</string>
							<string>d4f79f</string>
						</array>
						<key>name</key>
						<string>Melon</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>4b8d6c</string>
							<string>74b26d</string>
							<string>83bc81</string>
							<string>bfdc70</string>
							<string>e2e475</string>
						</array>
						<key>name</key>
						<string>Creative Group Greens</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>014040</string>
							<string>025939</string>
							<string>9abf4b</string>
							<string>d6d97e</string>
							<string>f2eda7</string>
						</array>
						<key>name</key>
						<string>Lettuce</string>
					</dict>
					<dict>
						<key>colors</key>
						<array>
							<string>3af781</string>
							<string>2bb860</string>
							<string>196b38</string>
							<string>159e96</string>
							<string>167872</string>
						</array>
						<key>name</key>
						<string>Pinssar</string>
					</dict>
				</array>
				<key>name</key>
				<string>Greens</string>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<string>f0f0f0</string>
					<string>818181</string>
					<string>777777</string>
					<string>616161</string>
					<string>505050</string>
				</array>
				<key>name</key>
				<string>Smooth</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
