<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sydney</key>
	<array>
		<dict>
			<key>temperature</key>
			<integer>16</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-01T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>13</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-02T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>14</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-03T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>16</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-04T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>15</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-05T11:00:00Z</date>
		</dict>
	</array>
	<key>Bangkok</key>
	<array>
		<dict>
			<key>temperature</key>
			<integer>26</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-01T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>28</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-02T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>26</integer>
			<key>type</key>
			<string>lightning</string>
			<key>date</key>
			<date>2014-06-03T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>27</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-04T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>28</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-05T11:00:00Z</date>
		</dict>
	</array>
	<key>London</key>
	<array>
		<dict>
			<key>temperature</key>
			<integer>15</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-01T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>14</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-02T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>15</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-03T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>16</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-04T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>17</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-05T11:00:00Z</date>
		</dict>
	</array>
	<key>Dallas</key>
	<array>
		<dict>
			<key>temperature</key>
			<integer>30</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-01T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>31</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-02T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>32</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-03T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>28</integer>
			<key>type</key>
			<string>lightning</string>
			<key>date</key>
			<date>2014-06-04T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>33</integer>
			<key>type</key>
			<string>lightning</string>
			<key>date</key>
			<date>2014-06-05T11:00:00Z</date>
		</dict>
	</array>
	<key>New York</key>
	<array>
		<dict>
			<key>temperature</key>
			<integer>18</integer>
			<key>type</key>
			<string>lightning</string>
			<key>date</key>
			<date>2014-06-01T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>19</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-02T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>21</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-03T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>20</integer>
			<key>type</key>
			<string>sun</string>
			<key>date</key>
			<date>2014-06-04T11:00:00Z</date>
		</dict>
		<dict>
			<key>temperature</key>
			<integer>21</integer>
			<key>type</key>
			<string>cloud</string>
			<key>date</key>
			<date>2014-06-05T11:00:00Z</date>
		</dict>
	</array>
</dict>
</plist>
